/* ******************************** */
/* *********** VARIABLES ********** */
/* ******************************** */

:root {
  --main-color: hsla(90, 50%, 65%, 1);
  --main-color-darker: hsl(90, 30%, 50%, 1);
  --main-color-transparent: hsla(90, 50%, 65%, 0.25);
}

/* ******************************** */
/* ************* BASE ************* */
/* ******************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  font-family: 'Guyon Gazebo' !important;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'Guyon Gazebo';
  src: url('../public/assets/fonts/GuyonGazebo-Regular.woff') format('woff2'),
    url('../public/assets/fonts/GuyonGazebo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ******************************** */
/* ************ BUTTON ************ */
/* ******************************** */

.btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 3vh;
  background-color: var(--main-color);
  color: #fff;
  border: solid 0.125em #fff;
  padding: 0.25em 1em;
  border-radius: 2em;
  box-shadow: 0 0.25em 0 0 var(--main-color-darker);
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn__input {
  width: 1em;
  height: 1em;
}

.btn.is-pressed {
  transform: translateY(0.25em);
  box-shadow: 0 0 0 0 var(--main-color-darker);
}

/* ******************************** */
/* ******** STARTING SCREEN ******* */
/* ******************************** */

.starting-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: background-color 3s ease, transform 1.2s ease;
}

.is-loaded {
  background-color: var(--main-color-transparent);
}

.starting-screen .btn {
  opacity: 0;
  transition: opacity 1s ease 1s;
}

.starting-screen.is-loaded .btn {
  opacity: 1;
}

/* .starting-screen.is-loaded .btn {
  animation: opacityLoop 2s linear 2s infinite forwards;
} */

.logo__container {
  width: 75%;
  position: relative;
}

.logo__container img {
  width: 100%;
}

.logo {
  position: absolute;
  opacity: 0.25;
}

.logo__loader {
  clip-path: inset(0 100% 0 0);
  transition: all 0.5s;
}

/* ******************************** */
/* ********** BACKGROUND ********** */
/* ******************************** */

.background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/background.png');
  background-size: cover;
  background-position: center center;
}

/* ******************************** */
/* *********** KEYFRAMES ********** */
/* ******************************** */

@keyframes opacityLoop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ******************************** */
/* ************ BORDEL ************ */
/* ******************************** */

.menu,
.deathScreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1cbec;
  transform: translateY(0%);
  transition: transform 1.2s ease;
}

/* .menu div,
.starting-screen div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  color: #2f2e2e;
} */

.deathScreen {
  background-color: rgba(177, 203, 236, 0.6);
  transition: opacity 0.4s;
  opacity: 0;
}

.deathScreenTransition {
  opacity: 1;
}

.deathScreen div:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.deathScreen .title {
  font-size: 4rem;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.deathScreen span {
  border: #2f2e2e solid 2px;
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
}

.panelTransition {
  transform: translateY(-120%);
}

/* .menu div span {
  animation: fadeLoop 2s ease-in 0.4s infinite both;
} */
